.grid {
    display: grid;
    grid-gap: 0.85rem;
    grid-row-gap: 1.8rem;

    &.grid-6 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    &.grid-4 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    &.grid-5 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    &.grid-1 {
        grid-template-columns: 1fr;

        >div {

            img {
                min-height: 100%;
                max-height: 250%;
            }

            figure {
                &.horizontal {
                    padding-bottom: 30%;
                }
            }
        }
    }

    >div {
        width: 100%;
        height: fit-content;
        position: relative;

        img,
        figure {
            width: inherit;
            position: relative;
        }

        img {
            min-height: 100%;
            max-height: 150%;
            width: auto;
            position: absolute;
            min-width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        figure, .fig {
            border-radius: 3px;
            overflow: hidden;
            position: relative;
            padding-bottom: 100%;

            &.horizontal {
                padding-bottom: 40%;
            }
            &.horizontal-md {
                padding-bottom: 60%;
            }

            &.vertical {
                padding-bottom: 120%;
            }

            &.vertical-md {
                padding-bottom: 135%;
            }

            .card-overlay {
                position: absolute;
                height: 100%;
                width: 100%;
                bottom: 0;
                background: linear-gradient(rgba(0, 0, 0, .15) 30%, rgba(0, 0, 0, .4));
            }

            figcaption {
                position: absolute;
                bottom: 25px;
                font-size: 17px;
                font-weight: 500;
                color: #fff;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}