#usr-header,
#store-header {
    position: fixed;
    background: #fff;
    z-index: 9999;

    #logo,
    #store-logo {
        margin-left: 80px;
    }

    #main-nav {
        margin-right: 80px;

        li {
            color: #222;
            vertical-align: baseline;

            a {
                align-items: center;
                display: flex;
                position: relative;

                &::after {
                    background: transparent;
                    content: "";
                    position: absolute;
                    bottom: -1px;
                    transition: background .25s ease;
                    height: 1px;
                    width: 100%;
                }

                &:hover {
                    &::after {
                        background: #000000;
                    }
                }

                &.active {
                    &::after {
                        background: #000000;
                    }
                }
            }

            #usr-icon {
                width: 40px;

                #usr-img {
                    position: absolute;
                    width: 32px;
                    height: 32px;
                    background: #444;
                    top: 50%;
                    transform: translateY(-50%);
                    border-radius: 50px;
                }
            }
        }
    }
}

#store-header {
    position: sticky;
    top: 0px;
    height: 60px;
    border: 1px solid #f1f1f1;
    vertical-align: top;

    #store-logo {
        svg {
            margin-right: 5px;
        }

        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: .1em;
        align-items: center;
        display: flex;
    }

    #main-nav {
        ul {
            position: absolute;
        }
    }
}