#usr-header {
    position: fixed;
    background: #fff;
    z-index: 9999;

    #logo {
        margin-left: 80px;
    }

    #main-nav {
        margin-right: 80px;

        li {
            color: #222;

            #usr-icon {
                width: 40px;

                #usr-img {
                    position: absolute;
                    width: 32px;
                    height: 32px;
                    background: #444;
                    top: 50%;
                    transform: translateY(-50%);
                    border-radius: 50px;
                }
            }
        }
    }
}