.order-list {
    width: 100%;
    display: grid;
    grid-template-areas: "img detail"
        "img sub-detail"
        "img labels"
        "img usr-labels"
        "img button";
    grid-template-columns: 10rem 1fr;

    .img-container {
        position: relative;
        overflow: hidden;
        width: 10rem;
        grid-area: img / img;
        height: 0;
        padding-bottom: 13rem;

        img {
            position: absolute;
            min-width: 100%;
            min-height: 100%;
            max-height: 140%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .order-main {
        display: flex;
    }

    .details,
    .sub-detail,
    .labels,
    .usr-labels {
        margin: 0 15px;
    }

    .details {
        flex: 1;
        align-items: flex-start;
        grid-area: detail / detail;

        p {
            margin: 4px 0;
            font-family: 'Nunito sans';
            line-height: 1.2rem;
            font-size: 17px;
            font-weight: 600;

            span {
                color: lighten(#222, 20);
            }
        }

        .h3 {
            font-weight: 600;
            font-size: 20px;
            color: #222222;
            font-family: 'Nunito sans';
            line-height: 1rem;
            margin: 3px 0;
            margin-left: 30px;
        }
    }

    .labels,
    .sub-detail,
    .usr-labels {
        margin-top: 7px;

        p {
            margin: 4px 0;
            font-family: 'Nunito sans';
        }
    }

    .usr-labels {
        align-items: center;
        text-transform: uppercase;
        font-size: 13px;
        margin-top: 15px;

        p {
            margin-right: 15px;
            width: fit-content;
            display: inline-block;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    .sub-detail {

        p {
            line-height: 1.2rem;
            font-size: 15px;
            text-transform: uppercase;
            font-weight: 400;
            color: #777;

            span {
                text-transform: initial;
            }
        }
    }
}