#category {
    main {
        h1 {
            margin: 15px 0;
            font-size: 2rem;
        }

        section {
            margin: 40px 0;
        }
    }

    .options {
        margin: 20px 0;
    }

    #price.pop-up {
        margin-top: 130px;
        width: 300px;

        .row {
            margin: 15px 0;
        }

        input {
            margin: 7px 0;
            padding: 12px;

            &:focus {
                border: 1px solid #555;
            }
        }

        .form-control {
            vertical-align: middle;
            margin-right: 20px;

            &:last-child {
                margin-right: 0;
            }

            &.dash {
                margin-top: 15px;
                position: relative;

                &::before {
                    position: absolute;
                    content: "";
                    width: 10px;
                    height: 1px;
                    background: #444;
                    left: 0;
                    transform: translate(-50%);
                }
            }
        }

        p.error {
            position: absolute;
            margin-top: -30px;
            background: #fff;
            padding: 2px 7px;
            border-radius: 5px;
            box-shadow: 0 0 10px #999999aa;
            z-index: 11;
        }

        button {
            display: block;
        }
    }

    #filter-container {
        padding-top: 0;
        padding-bottom: 0;

        .container {
            padding: 30px 25px;

            &.space-between {
                justify-content: space-between;
            }

            .search-datalist {
                position: relative;
                width: 100%;
                flex: 1 1;
            }

            .form-control {
                margin: 20px 25px;
                display: grid;
                grid-gap: 15px;
                grid-template-columns: 1fr 1fr;

                .form-group.c input + label {
                    width: 24px;
                    height: 24px;

                    &::after {
                        width: 16px;
                        height: 16px;
                        border-radius: 2px;
                    }
                }
            }
        }
    }
}