#home {
    padding-bottom: 150px;
}

#priv-home {
    margin: 0 0px;
    margin-top: 100px;
    padding-bottom: 100px;

    #explore-store {
        background: #000;
        margin-top: 80px;
        padding-bottom: 70px;

        h2 {
            color: #fff;
        }

        .page-container {
            .grid.grid-6 {
                grid-template-columns: 1fr 1fr 1fr 1fr;
                // grid-template-rows: 1fr 1fr;
                grid-gap: 20px;
                grid-template-areas: "store1 store1 store2 store3"
                    "store1 store1 store2 store3"
                    "store1 store1 store4 store4"
                    "store1 store1 store4 store4";

                .react-carousel .carousel {
                    padding-bottom: 50%;
                }

                .store-desc {
                    margin: 0;
                    height: 68px;
                    padding: 15px;
                    background: #111;

                    * {
                        color: #fff;
                    }

                    border-bottom-left-radius: 20px;
                    border-bottom-right-radius: 20px;
                }

                .each-img-card {
                    height: 100%;

                    .vertical-md.fig {
                        height: 100%;
                    }
                }

                >div:nth-child(1) {
                    grid-area: store1 / store1 / store1 / store1;
                    height: auto;


                    .each-img-card {
                        .vertical-md.fig {
                            height: calc(100% - 98px);
                        }
                    }

                    .react-carousel {
                        height: 100%;

                        .carousel {
                            padding-bottom: 0;
                            height: 100%;
                        }
                    }
                }

                >div:nth-child(2) {
                    grid-area: store2;
                }

                >div:nth-child(3) {
                    grid-area: store3;
                }

                >div:nth-child(4) {
                    grid-area: store4 / store4 / store4 / store4;

                    .react-carousel .carousel {
                        padding-bottom: 40%;
                    }
                }
            }
        }
    }

    .page-container {
        margin: 0 80px;
        width: auto;
    }


    .categories {
        margin: 40px 0;
        margin-bottom: 0px;

        ul {
            display: inline-flex;
            flex-wrap: wrap;
            margin: 10px 0;

            li {
                display: inline-block;
                margin: 7px 20px;
                font-size: 14px;
                font-weight: 600;
                font-family: 'Nunito sans';
                margin-left: 0;

                a {
                    display: block;
                    outline: none;
                    box-shadow: 0 0 10px #ddd;
                    border-radius: 10px;
                    padding: 11px 15px;
                    padding-right: 60px;
                    transition: all .35s;

                    &:hover,
                    &:focus {
                        background: #222;

                        p {
                            color: #fff;
                        }

                        svg path {
                            fill: #fff !important;
                            transition: all .35s;
                        }
                    }

                    p {
                        transition: all .35s;
                    }
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

@media only screen and (max-width:480px) {
    #home {
        padding-bottom: 80px;
    }
}