.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

h1 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.2em;
  font-weight: 600;
}

.home {
  p {
    margin: 0.5rem 0;
  }
}

html {
  overflow-x: hidden;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.row {
  display: flex;
  align-items: center;

  &.space-between {
    justify-content: space-between;
  }
}

@import "./styles/components/datalist.scss";
@import "./styles/components/tags.scss";
@import "./styles/components/react-carousel.scss";
@import "./styles/layout/button.scss";
@import "./styles/layout/grid.scss";
@import "./styles/layout/badge.scss";
@import "./styles/layout/popup.scss";
@import "./styles/components/stores-grid.scss";
@import "./styles/components/profile-grid.scss";

.default {
  @import "./styles/theme/default.scss";

  * {
    color: $fontColor;
  }
}

.darkmode {
  @import "./styles/theme/dark.scss";
}

header {
  position: absolute;
  width: 100%;
  background-color: transparent;
  height: 80px;
  top: 0;
  z-index: 9;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    #logo {
      background-image: url("./assets/favicon.ico");
      height: 45px;
      width: 45px;
      background-position: center;
      background-size: cover;
      margin: 0 30px;
    }

    #main-nav {
      margin: 0 30px;

      li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 15px;
        cursor: pointer;
        color: #fff;

        &:last-child {
          margin-right: 0;
        }

        &:first-child {
          margin-left: 0;
        }
      }
    }

    // .hdr-left {}
  }
}

.main-container {
  margin-top: 100px;
  padding: 15px 0;
}

.page-container {
  margin: 0 80px;
  width: auto;
}

.container {
  display: block;
}

.row {
  // display: block;
}

section {
  width: 100%;
  overflow: hidden;

  &.landing-page-header {
    height: 110vh;
  }

  .header-search {
    top: 120px;
    position: absolute;

    .header-filtr {
      background: #fff;
      padding: 30px 30px 20px;
      border-radius: 5px;
      box-shadow: 0 16px 40px rgba(0, 0, 0, 0.17);
      width: 390px;
    }
  }



  .banner-img {
    position: relative;

    img {
      min-height: 100vh;
      position: relative;
      max-height: 150vh;
    }

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(#282c34, 0.25);
      content: "";
    }
  }
}

.currency {
  position: absolute;
  margin-top: 13px;
  font-size: 18px;
}

input {
  border-radius: 5px;
  padding: 13px;
  width: calc(100% - 26px) !important;
  border: 1px solid #ddd;
  font-size: 1rem;
  transition: all 0.25s;

  &:focus {
    outline: none;
    // border-radius: 5px 5px 0 0px;
  }

  &.err:focus {
    border: 1px solid $peach !important;
  }
}

p.error {
  color: $peach;
  font-size: 14px;
}

.form-group {
  padding: 8px 0;
}

form {
  margin: 10px 0;

  .form-group {
    &.row-align-right {
      display: flex;
      justify-content: flex-end;
    }

    label {
      font-size: 14px;
      font-weight: 500;
      padding: 5px 0;
    }
  }

  #fltr-item {
    .react-datalist-menu {
      &:last-of-type {
        margin-top: 10px;
        margin-left: 18px;
      }
    }
  }
}

#explore {
  .slider-btn {
    display: none !important;
  }

  * {
    ::-webkit-scrollbar {
      background: white;
    }
  }
}

#explore,
.mini-section {
  padding: 45px 0;
  padding-bottom: 0;

  .see-all {
    font-weight: bold;
    font-size: 1.4em;
    margin: 10px 0;

    svg {
      vertical-align: bottom;
    }

    * {
      color: $peach;
    }
  }

  h2 {
    margin: 20px 0;
    font-size: 1.7em;
  }

  .section-head {
    margin: 20px 0;

    h2 {
      margin: 0;
    }

    a {
      vertical-align: middle;
      font-size: 1.2rem;
      font-weight: 500;
      color: $peach;

      svg {
        vertical-align: text-top;
      }
    }
  }
}

#learn-more-stores .store-banner {
  figure {
    border-radius: 0;
  }
}

#slider1 {
  padding: 20px 80px;
  margin-left: 0;
  margin-top: -20px;
  overflow: auto !important;

  .slider {
    white-space: nowrap;
    display: block;

    figcaption {
      padding: 15px 18px;
      font-weight: 500;
      position: static;
      font-size: 18px;
      color: #222;
    }

    >a,
    .each-img-card {
      height: -moz-fit-content;
      height: fit-content;
      margin: 0 25px 0 0;
      display: inline-block;
      position: relative;
      border-radius: 12px;
      box-shadow: 0 0 18px rgba(0, 0, 0, 0.25);

      >a {
        width: calc(240px);
        text-decoration: none;
      }

      .img-slide {
        border-radius: 12px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        img {
          filter: brightness(1.2);
        }
      }
    }
  }
}

.box-shadow {
  box-shadow: 0 0 12px #00000011;
}

.success-color {
  color: $green;
}

.warning-color {
  color: $wine;
}

body {
  scroll-behavior: smooth;
}

.section-container {
  .section {
    border-bottom: 1px solid #00000011;
    padding: 25px 0;

    .section-header {
      margin-bottom: 10px;
    }

    &:last-child {
      border-bottom: 1px solid transparent;
    }
  }
}

.rounded-img {
  position: relative;
  border-radius: 100px;
  overflow: hidden;
  border: 1px solid #f1f1f1;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.img-md {
    width: 65px;
    height: 65px;

    img {
      width: 105%;
      min-height: 100%;
    }
  }

  &.img-lg {
    width: 80px;
    height: 80px;

    img {
      width: 105%;
      min-height: 100%;
    }
  }
}

#learn-more-stores {
  .react-carousel {
    .carousel-label button {
      text-transform: uppercase;

      p {
        font-size: 13px;
      }
    }
  }

  .store-banner {
    .grid.grid-1>a figure.horizontal {
      padding-bottom: 72vh;
    }

    img {
      max-height: 200%;
    }
  }
}

.people-banner {
  padding-bottom: 0px;
}

.product-banner {

  .slider .each-img-card .img-slide.horizontal-md,
  .slider>a .img-slide.horizontal-md {
    padding-bottom: 128% !important;
  }
}

.favourite {
  position: absolute;
  z-index: 999;
  width: 100%;

  input {
    display: none;
  }

  input:checked+label .selected {
    display: block;
  }

  input:checked+label .not-selected {
    display: none;
  }

  label {
    position: absolute;
    right: 7px;
    top: 7px;
    width: 30px;
    height: 30px;
    background: #fff;
    display: flex;
    padding: 1px;
    justify-content: center;
    border-radius: 100px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    cursor: pointer;

    svg {
      margin: auto;
      transform: translateY(1px);
    }

    .selected {
      display: none;
    }

    .not-selected {
      display: block;
    }
  }
}

// Responsiveness
@media only screen and (max-width: 927px) {
  #slider3 {

    .slider>a>a,
    .slider .each-img-card>a {
      width: calc(28vw - 20px);
    }
  }
}

@media only screen and (max-width: 768px) {
  #slider3 {

    .slider>a>a,
    .slider .each-img-card>a {
      width: calc(33vw - 20px);
    }
  }

  #slider1 {

    .slider>a>a,
    .slider .each-img-card>a {
      width: calc(200px);
      text-decoration: none;
    }
  }

  .favourite label svg {
    transform: translateY(0);
  }

  section .page-container {
    margin: 0 30px;
  }

  #explore,
  .mini-section {
    padding: 35px 0;
  }

  #react-carousel1 {
    margin: 0 30px;

    .carousel {
      height: 65vh;
      border-radius: 3px;
    }

    .carousel-label {
      left: 20px;
    }
  }
}

@media only screen and (max-width: 527px) {
  section .header-search .header-filtr {
    width: auto;
  }

  #slider3 {

    .slider>a,
    .slider .each-img-card {
      margin: 0 10px 0 0;
    }

    .slider>a>a,
    .slider .each-img-card>a {
      width: calc(45vw - 20px);
    }
  }
}

@media only screen and (max-width: 480px) {
  #slider3 {

    .slider>a>a,
    .slider .each-img-card>a {
      width: calc(55vw - 0px);
    }
  }

  section .header-search .header-filtr {
    width: auto;
  }

  #react-carousel1 {
    margin: 0 15px;
  }

  #explore,
  .mini-section {
    padding: 20px 0;
  }

  #explore .section-head,
  .mini-section .section-head {
    margin: 20px 0;
  }

  #slider1 {
    padding: 20px 20px;

    .slider figcaption {
      padding: 11px 14px;
    }

    .slider>a>a,
    .slider .each-img-card>a {
      width: calc(130px);
      text-decoration: none;
    }
  }

  section .page-container {
    margin: 0 15px;
  }
}